<nav class="navbar">
    <div class="left">
        <a href="/"><img src="/images/netflix-logo.png" alt=""></a>
    </div>
    <div class="right">
        <select name="language" class="language">
            <option value="English">English</option>
            <option value="Japanese">Japanese</option>
            <option value="Korean">Korean</option>
            <option value="Spanish">Spanish</option>
        </select>
        <button><a href="#">Sign In</a></button>
    </div>
</nav>